@import url(https://db.onlinewebfonts.com/c/f006767b5531b9c50ec614857e9718ad?family=Eckmann+W01+Antique);
#aio_sidebar {
    font: 24px Eckmann W01 Antique;
    color: white;
    text-transform: lowercase;
    text-align: center;
    line-height: 16px
    }
#aio_sidebar > div {
    border: 2px solid #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
    color: white;
    text-shadow: -1px -1px 2px #0a2260, 1px 1px 2px #0a2260;
    background-image: url(https://images.neopets.com/themes/h5/constellations/images/bg-pattern.png);
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    background-size: 135px
    }
#aio_sidebar a, #aio_sidebar .aioTxt {
    color: white;
    text-shadow: -1px -1px 2px #0a2260, 1px 1px 2px #0a2260
    }
#aio_sidebar a:hover {
    color: #ffbd96
    }
#aio_sidebar .aioImg {
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    align-items: center;
    justify-content: center;
    margin-top: 10px
    }
#aio_sidebar .aioImg img {
    border-radius: 99px;
    border: 2px solid #af3e7f
    }
#aio_sidebar .aioImg img:hover {
    border-radius: 99px;
    border: 2px solid #ffbd96
    }
#aio_sidebar > .quests > .aioImg > div br {
    display: none
    }
#aio_sidebar small {
    display: none
    }
#aio_sidebar > .quests > .aioImg > div {
    width: 100% !important;
    margin-bottom: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    gap: 3px
    }
.aio-training-links {
    display: block
    }
.aioImg img {
    background-color: #fff
    }
.aio-training-links {
    margin: 6px;
    font-size: 24px
    }
.aioTxt {
    display: flex;
    flex-direction: column
    }