#userinfo, .user-info, #sb_clock, #sb_search, #sb_banner, #sb_lang {
    color: black
    }
#userinfo a, #sb_lang a, .user-info a {
    color: #F8E607
    }
#sb_top, .sb_top {
    width: 731px;
    background-size: 731px 44px
    }
#sb_createpet, #sb_petcentral, #sb_explore, #sb_games, #sb_neomail, #sb_shops, #sb_boards, #sb_news, #sb_stuff, #sb_help, #sb_login, #sb_logout {
    background-size: 202%
    }
.sb-custom-css {
    color: #017101 !important
    }
#sb_top, .sb_top {
    background-image: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/GC%20site%20themes/BrightvaleTop.png)
    }
#sb_createpet, #sb_petcentral, #sb_explore, #sb_games, #sb_neomail, #sb_shops, #sb_boards, #sb_news, #sb_stuff, #sb_help, #sb_login, #sb_logout {
    background-image: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/GC%20site%20themes/YellowNav.png);
    width: 130px
    }
#sb_nav, #sb_side {
    background: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/GC%20site%20themes/BrightvaleSide.png) left top no-repeat, url(https://images.neopets.com/themes/h5/meridell/images/hp-bg-top.png) left bottom repeat
    }
#sb_createpet:hover {
    background-position: 132px 0
    }
#sb_petcentral:hover {
    background-position: 132px -53px
    }
#sb_explore:hover {
    background-position: 132px -106px
    }
#sb_games:hover {
    background-position: 132px -138px
    }
#sb_neomail:hover {
    background-position: 132px -170px
    }
#sb_shops:hover {
    background-position: 132px -202px
    }
#sb_boards:hover {
    background-position: 132px -234px
    }
#sb_news:hover {
    background-position: 132px -266px
    }
#sb_stuff:hover {
    background-position: 132px -300px
    }
#sb_help:hover {
    background-position: 132px -334px
    }
#sb_login:hover {
    background-position: 132px -369px
    }
#sb_logout:hover {
    background-position: 132px -399px
    }
.nst {
    background-color: #71C975;
    color: black;
    padding: 2px;
    margin: 0;
    border-radius: 1px
    }
#sb_side {
    border-color: #9e9412;
    border-width: 0 2px 2px 0;
    border-style: solid;
    border-radius: 0 0 10px 0;
    padding-bottom: 20px;
    width: 130px
    }
#sb_edge {
    display: none
    }
	
