@font-face {
    font-family: 'Creampuff';
         url('https://raw.githubusercontent.com/4leaved/GCstuff/blob/main/Creampuff-VV4Z.ttf') format('truetype'),
    font-weight: 100;
    font-style: normal;
} 