#userinfo, .user-info, #sb_clock, #sb_search, #sb_banner, #sb_lang {
    color: black
    }
#userinfo a, #sb_lang a, .user-info a {
    color: blue
    }
#userinfo {
    margin-right: 50px
    }
#sb_lang a {
    color: blue
    }
#sb_search, #sb_lang {
    color: tan
    }
#sb_top, .sb_top {
    background-image: url(https://images.neopets.com/t/qas/hdr.gif)
    }
#sb_createpet, #sb_petcentral, #sb_explore, #sb_games, #sb_neomail, #sb_shops, #sb_boards, #sb_news, #sb_stuff, #sb_help, #sb_login, #sb_logout {
    background-image: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/GC%20site%20themes/LDPnav.jpg);
    width: 130px
    }
#sb_createpet:hover {
    background-position: 130px 0
    }
#sb_petcentral:hover {
    background-position: 130px -53px
    }
#sb_explore:hover {
    background-position: 130px -106px
    }
#sb_games:hover {
    background-position: 130px -138px
    }
#sb_neomail:hover {
    background-position: 130px -170px
    }
#sb_shops:hover {
    background-position: 130px -202px
    }
#sb_boards:hover {
    background-position: 130px -234px
    }
#sb_news:hover {
    background-position: 130px -266px
    }
#sb_stuff:hover {
    background-position: 130px -300px
    }
#sb_help:hover {
    background-position: 130px -334px
    }
#sb_login:hover {
    background-position: 130px -369px
    }
#sb_logout:hover {
    background-position: 130px -399px
    }
#sb_side {
    background-image: url(https://images.neopets.com/t/qas/ms.gif);
    background-color: transparent;
    border-right: 0;
    width: 130px;
    background-position: 0 426px
    }
.nst {
    background-color: #2d59ad;
	color: tan
    }
#sb_edge {
    height: 242px;
    margin-top: 44px
    }
#sb_edge.bottom_1 {
    background-image: url(https://images.neopets.com/t/qas/1.gif)
    }
#sb_edge.bottom_2 {
    background-image: url(https://images.neopets.com/t/qas/2.gif)
    }
#sb_edge.bottom_3 {
    background-image: url(https://images.neopets.com/t/qas/3.gif)
    }
#sb_edge.bottom_4 {
    background-image: url(https://images.neopets.com/t/qas/4.gif)
    }
#sb_edge.bottom_5 {
    background-image: url(https://images.neopets.com/t/qas/5.gif)
    }
#sb_edge.bottom_6 {
    background-image: url(https://images.neopets.com/t/qas/6.gif)
    }
#sb_clock, #sb_search, #sb_banner, #sb_lang {
    margin-right: 8px
    }
#sb_edge::after {
	display: none
	}