#ss_board, #pyramids_board {
    background: #464646 !important; 
	background: linear-gradient(145deg,rgba(115,125,145, 1) 0%, rgba(70,80,91, 1) 11%, rgba(52,63,69, 1) 33%, rgba(20,20,20, 1) 90%) !important;
}
#ss_board img {
    border-radius: 20px;
    border: solid 2px #fff
    }
img[src="https://grundoscafe.b-cdn.net/games/php_games/sakhmetsolitaire/pyramid.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/cardbackfinal.png)
}
img[src="https://grundoscafe.b-cdn.net/games/php_games/sakhmetsolitaire/new_open.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/open.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/2_clubs.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/clubs2.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/3_clubs.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/clubs3.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/4_clubs.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/clubs4.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/5_clubs.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/clubs5.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/6_clubs.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/clubs6.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/7_clubs.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/clubs7.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/8_clubs.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/clubs8.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/9_clubs.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/clubs9.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/10_clubs.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/clubs10.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/11_clubs.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/clubsJ.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/12_clubs.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/clubsQ.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/13_clubs.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/clubsK.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/14_clubs.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/clubsA.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/2_hearts.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/hearts2.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/3_hearts.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/hearts3.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/4_hearts.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/hearts4.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/5_hearts.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/hearts5.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/6_hearts.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/hearts6.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/7_hearts.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/hearts7.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/8_hearts.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/hearts8.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/9_hearts.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/hearts9.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/10_hearts.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/hearts10.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/11_hearts.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/heartsJ.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/12_hearts.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/heartsQ.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/13_hearts.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/heartsK.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/14_hearts.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/heartsA.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/2_spades.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/spades2.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/3_spades.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/spades3.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/4_spades.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/spades4.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/5_spades.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/spades5.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/6_spades.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/spades6.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/7_spades.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/spades7.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/8_spades.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/spades8.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/9_spades.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/spades9.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/10_spades.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/spades10.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/11_spades.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/spadesJ.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/12_spades.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/spadesQ.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/13_spades.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/spadesK.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/14_spades.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/spadesA.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/2_diamonds.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/diamonds2.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/3_diamonds.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/diamonds3.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/4_diamonds.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/diamonds4.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/5_diamonds.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/diamonds5.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/6_diamonds.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/diamonds6.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/7_diamonds.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/diamonds7.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/8_diamonds.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/diamonds8.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/9_diamonds.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/diamonds9.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/10_diamonds.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/diamonds10.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/11_diamonds.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/diamondsJ.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/12_diamonds.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/diamondsQ.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/13_diamonds.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/diamondsK.png)
}
img[src="https://grundoscafe.b-cdn.net/games/cards/14_diamonds.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/diamondsA.png)
}
img[src="https://grundoscafe.b-cdn.net/games/php_games/sakhmetsolitaire/pyramid.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/cardbackfinal.png)
}
img[src="https://grundoscafe.b-cdn.net/games/php_games/sakhmetsolitaire/2_clubs.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/clubs2.png)
}
img[src="https://grundoscafe.b-cdn.net/games/php_games/sakhmetsolitaire/3_clubs.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/clubs3.png)
}
img[src="https://grundoscafe.b-cdn.net/games/php_games/sakhmetsolitaire/4_clubs.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/clubs4.png)
}
img[src="https://grundoscafe.b-cdn.net/games/php_games/sakhmetsolitaire/5_clubs.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/clubs5.png)
}
img[src="https://grundoscafe.b-cdn.net/games/php_games/sakhmetsolitaire/6_clubs.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/clubs6.png)
}
img[src="https://grundoscafe.b-cdn.net/games/php_games/sakhmetsolitaire/7_clubs.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/clubs7.png)
}
img[src="https://grundoscafe.b-cdn.net/games/php_games/sakhmetsolitaire/8_clubs.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/clubs8.png)
}
img[src="https://grundoscafe.b-cdn.net/games/php_games/sakhmetsolitaire/9_clubs.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/clubs9.png)
}
img[src="https://grundoscafe.b-cdn.net/games/php_games/sakhmetsolitaire/10_clubs.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/clubs10.png)
}
img[src="https://grundoscafe.b-cdn.net/games/php_games/sakhmetsolitaire/11_clubs.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/clubsJ.png)
}
img[src="https://grundoscafe.b-cdn.net/games/php_games/sakhmetsolitaire/12_clubs.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/clubsQ.png)
}
img[src="https://grundoscafe.b-cdn.net/games/php_games/sakhmetsolitaire/13_clubs.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/clubsK.png)
}
img[src="https://grundoscafe.b-cdn.net/games/php_games/sakhmetsolitaire/14_clubs.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/clubsA.png)
}
img[src="https://grundoscafe.b-cdn.net/games/php_games/sakhmetsolitaire/2_hearts.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/hearts2.png)
}
img[src="https://grundoscafe.b-cdn.net/games/php_games/sakhmetsolitaire/3_hearts.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/hearts3.png)
}
img[src="https://grundoscafe.b-cdn.net/games/php_games/sakhmetsolitaire/4_hearts.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/hearts4.png)
}
img[src="https://grundoscafe.b-cdn.net/games/php_games/sakhmetsolitaire/5_hearts.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/hearts5.png)
}
img[src="https://grundoscafe.b-cdn.net/games/php_games/sakhmetsolitaire/6_hearts.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/hearts6.png)
}
img[src="https://grundoscafe.b-cdn.net/games/php_games/sakhmetsolitaire/7_hearts.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/hearts7.png)
}
img[src="https://grundoscafe.b-cdn.net/games/php_games/sakhmetsolitaire/8_hearts.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/hearts8.png)
}
img[src="https://grundoscafe.b-cdn.net/games/php_games/sakhmetsolitaire/9_hearts.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/hearts9.png)
}
img[src="https://grundoscafe.b-cdn.net/games/php_games/sakhmetsolitaire/10_hearts.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/hearts10.png)
}
img[src="https://grundoscafe.b-cdn.net/games/php_games/sakhmetsolitaire/11_hearts.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/heartsJ.png)
}
img[src="https://grundoscafe.b-cdn.net/games/php_games/sakhmetsolitaire/12_hearts.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/heartsQ.png)
}
img[src="https://grundoscafe.b-cdn.net/games/php_games/sakhmetsolitaire/13_hearts.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/heartsK.png)
}
img[src="https://grundoscafe.b-cdn.net/games/php_games/sakhmetsolitaire/14_hearts.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/heartsA.png)
}
img[src="https://grundoscafe.b-cdn.net/games/php_games/sakhmetsolitaire/2_spades.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/spades2.png)
}
img[src="https://grundoscafe.b-cdn.net/games/php_games/sakhmetsolitaire/3_spades.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/spades3.png)
}
img[src="https://grundoscafe.b-cdn.net/games/php_games/sakhmetsolitaire/4_spades.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/spades4.png)
}
img[src="https://grundoscafe.b-cdn.net/games/php_games/sakhmetsolitaire/5_spades.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/spades5.png)
}
img[src="https://grundoscafe.b-cdn.net/games/php_games/sakhmetsolitaire/6_spades.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/spades6.png)
}
img[src="https://grundoscafe.b-cdn.net/games/php_games/sakhmetsolitaire/7_spades.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/spades7.png)
}
img[src="https://grundoscafe.b-cdn.net/games/php_games/sakhmetsolitaire/8_spades.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/spades8.png)
}
img[src="https://grundoscafe.b-cdn.net/games/php_games/sakhmetsolitaire/9_spades.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/spades9.png)
}
img[src="https://grundoscafe.b-cdn.net/games/php_games/sakhmetsolitaire/10_spades.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/spades10.png)
}
img[src="https://grundoscafe.b-cdn.net/games/php_games/sakhmetsolitaire/11_spades.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/spadesJ.png)
}
img[src="https://grundoscafe.b-cdn.net/games/php_games/sakhmetsolitaire/12_spades.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/spadesQ.png)
}
img[src="https://grundoscafe.b-cdn.net/games/php_games/sakhmetsolitaire/13_spades.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/spadesK.png)
}
img[src="https://grundoscafe.b-cdn.net/games/php_games/sakhmetsolitaire/14_spades.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/spadesA.png)
}
img[src="https://grundoscafe.b-cdn.net/games/php_games/sakhmetsolitaire/2_diamonds.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/diamonds2.png)
}
img[src="https://grundoscafe.b-cdn.net/games/php_games/sakhmetsolitaire/3_diamonds.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/diamonds3.png)
}
img[src="https://grundoscafe.b-cdn.net/games/php_games/sakhmetsolitaire/4_diamonds.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/diamonds4.png)
}
img[src="https://grundoscafe.b-cdn.net/games/php_games/sakhmetsolitaire/5_diamonds.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/diamonds5.png)
}
img[src="https://grundoscafe.b-cdn.net/games/php_games/sakhmetsolitaire/6_diamonds.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/diamonds6.png)
}
img[src="https://grundoscafe.b-cdn.net/games/php_games/sakhmetsolitaire/7_diamonds.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/diamonds7.png)
}
img[src="https://grundoscafe.b-cdn.net/games/php_games/sakhmetsolitaire/8_diamonds.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/diamonds8.png)
}
img[src="https://grundoscafe.b-cdn.net/games/php_games/sakhmetsolitaire/9_diamonds.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/diamonds9.png)
}
img[src="https://grundoscafe.b-cdn.net/games/php_games/sakhmetsolitaire/10_diamonds.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/diamonds10.png)
}
img[src="https://grundoscafe.b-cdn.net/games/php_games/sakhmetsolitaire/11_diamonds.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/diamondsJ.png)
}
img[src="https://grundoscafe.b-cdn.net/games/php_games/sakhmetsolitaire/12_diamonds.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/diamondsQ.png)
}
img[src="https://grundoscafe.b-cdn.net/games/php_games/sakhmetsolitaire/13_diamonds.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/diamondsK.png)
}
img[src="https://grundoscafe.b-cdn.net/games/php_games/sakhmetsolitaire/14_diamonds.gif"] {
    content: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/Cards/diamondsA.png)
}
