#userinfo, .user-info, #sb_clock, #sb_search, #sb_banner, #sb_lang {
    color: #F00
    }
.sb-custom-css {
    color: #33C
    }
#userinfo a, #sb_lang a, .user-info a {
    color: #33C !important
    }
#sb_search, #sb_banner, #sb_lang {
    color: black
    }
#sb_top, .sb_top {
    width: 731px;
    background-size: 731px 44px
    }
#sb_createpet, #sb_petcentral, #sb_explore, #sb_games, #sb_neomail, #sb_shops, #sb_boards, #sb_news, #sb_stuff, #sb_help, #sb_login, #sb_logout {
    background-size: 202%
    }
#sb_banner img {
    border: 1px solid var(--sb-side-border-color);
    border-radius: 1px
    }
#sb_top, .sb_top {
    background-image: url(https://64.media.tumblr.com/c93fe5a931d7da88d3012bfd3d516f6a/6f4ab21ad0df8d19-d2/s2048x3072/52eb8eb0e96603a6dfd37dc3457bcded20e40a2f.pnj)
    }
#sb_createpet, #sb_petcentral, #sb_explore, #sb_games, #sb_neomail, #sb_shops, #sb_boards, #sb_news, #sb_stuff, #sb_help, #sb_login, #sb_logout {
    background-image: url(https://64.media.tumblr.com/9eecbade5352565d679148df3e2a1891/787f6343b14c374f-9b/s640x960/11d502d6c5e0f5aa98024057b7b7507797cfc33a.pnj);
    width: 130px
    }
#sb_nav, #sb_side {
    background: url(https://images.neopets.com/themes/h5/meridell/images/hp-bg-top.png)
    }
#sb_createpet:hover {
    background-position: 132px 0
    }
#sb_petcentral:hover {
    background-position: 132px -53px
    }
#sb_explore:hover {
    background-position: 132px -106px
    }
#sb_games:hover {
    background-position: 132px -138px
    }
#sb_neomail:hover {
    background-position: 132px -170px
    }
#sb_shops:hover {
    background-position: 132px -202px
    }
#sb_boards:hover {
    background-position: 132px -234px
    }
#sb_news:hover {
    background-position: 132px -266px
    }
#sb_stuff:hover {
    background-position: 132px -300px
    }
#sb_help:hover {
    background-position: 132px -334px
    }
#sb_login:hover {
    background-position: 132px -369px
    }
#sb_logout:hover {
    background-position: 132px -399px
    }
.nst {
    background-color: #FFD52D;
    color: black;
    padding: 2px;
    margin: 0;
    border-radius: 1px
    }
#sb_side {
    border-color: #000;
    border-width: 0 2px 2px 0;
    border-style: solid;
    border-radius: 0 0 10px 0;
    padding-bottom: 20px;
    width: 130px
    }
#sb_edge {
    display: none
    }
	