@import url(https://fonts.cdnfonts.com/css/coolvetica-2);
#aio_sidebar {
    font: 24px Coolvetica;
    color: black;
    text-transform: lowercase;
    text-align: center;
    line-height: 16px
    }
#aio_sidebar &gt; div {
    border: 2px solid #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
    color: black;
    text-shadow: -1px -1px 2px #ffff8c, 1px 1px 2px #ffff8c;
    background-image: url(https://images.neopets.com/backgrounds/nova_day_2005.gif);
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    background-size: 135px
    }
#aio_sidebar a, #aio_sidebar .aioTxt {
    color: black;
    text-shadow: -1px -1px 2px #ffff8c, 1px 1px 2px #ffff8c
    }
#aio_sidebar a:hover {
    color: #925c00
    }
#aio_sidebar small {
    display: none
    }
#aio_sidebar .aioImg {
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    align-items: center;
    justify-content: center;
    margin-top: 10px
    }
#aio_sidebar .aioImg img {
    border-radius: 99px;
    border: 2px solid black
    }
#aio_sidebar .aioImg img:hover {
    border-radius: 99px;
    border: 2px solid #925c00
    }
#aio_sidebar &gt; .quests &gt; .aioImg &gt; div br {
    display: none
    }
#aio_sidebar &gt; .quests &gt; .aioImg &gt; div {
    width: 100% !important;
    margin-bottom: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    gap: 3px
    }
.aio-training-links {
    display: block
    }
.aioImg img {
    background-color: #fff
    }
.aio-training-links {
    margin: 6px;
    font-size: 24px
    }
.aioTxt {
    display: flex;
    flex-direction: column
    }