/* Beloved Beasties */
.ul__pet:hover {
    transform: scale(1.1)
    }
.ul__pet:hover img {
    border-radius: 5px
    }
.ul__pet {
    padding: 2px
    }
.ul--petimg {
    width: 100px
    }
.ul__Clover img {
    content: url(https://64.media.tumblr.com/f5cc52401b1e3551a1f8861493067219/f2739fd84a56b360-d6/s540x810/8b9d1c660e97cabe17de02c6938c9d4c7aa65520.pnj)
    }
.ul__Natchez img {
    content: url(https://grundoscafe.b-cdn.net/pets/happy/krawk_camouflage.gif)
    }
.ul__Winnifer img {
    content: url(https://64.media.tumblr.com/143d98821039a600a596a90af6506370/2426efd6d48e4f1a-bc/s2048x3072/b6c9ef37c070e4a7829e4c00160a47083dc8d259.pnj)
    }
.ul__Nehi img {
    content: url(https://64.media.tumblr.com/975c3b26631f95bb5be9b922602e8668/d636b511c6434626-2b/s400x600/47608a895ef0b7cccf4dafe74558dc16af37fd1f.pnj);
    background-color: white
    }
/* I need to put these in chrono order at some point... */
.cat-header--Kiko {
    font-size: 0
    }
.cat-header--Kiko::after {
    content: url(https://images.neopets.com/games/arcade/cat/world_kik.png);
    filter: hue-rotate(-45deg)
    }
.cat-header--Roo {
    font-size: 0
    }
.cat-header--Roo::after {
    content: url(https://images.neopets.com/games/arcade/cat/world_roo.png)
    }
.cat-header--Neopia {
    font-size: 0
    }
.cat-header--Neopia::after {
    content: url(https://images.neopets.com/games/arcade/cat/world_neo.png)
    }
.cat-header--Haunted {
    font-size: 0
    }
.cat-header--Haunted::after {
    content: url(https://images.neopets.com/games/arcade/cat/world_hwd.png)
    }
.cat-header--Faerieland {
    font-size: 0
    }
.cat-header--Faerieland::after {
    content: url(https://images.neopets.com/games/arcade/cat/world_fld.png)
    }
.cat-header--Brightvale {
    font-size: 0
    }
.cat-header--Brightvale::after {
    content: url(https://images.neopets.com/games/arcade/cat/world_brv.png)
    }
.cat-header--Darigan {
    font-size: 0
    }
.cat-header--Darigan::after {
    content: url(https://images.neopets.com/games/arcade/cat/world_dar.png)
    }
.cat-header--Kreludor {
    font-size: 0
    }
.cat-header--Kreludor::after {
    content: url(https://images.neopets.com/games/arcade/cat/world_kre.png)
    }
.cat-header--Lutari {
    font-size: 0
    }
.cat-header--Lutari::after {
    content: url(https://images.neopets.com/games/arcade/cat/world_lut.png)
    }
.cat-header--Mystery {
    font-size: 0
    }
.cat-header--Mystery::after {
    content: url(https://images.neopets.com/games/arcade/cat/world_myi.png)
    }
.cat-header--Krawk {
    font-size: 0
    }
.cat-header--Krawk::after {
    content: url(https://images.neopets.com/games/arcade/cat/world_kra.png)
    }
.cat-header--Shenkuu {
    font-size: 0
    }
.cat-header--Shenkuu::after {
    content: url(https://images.neopets.com/games/arcade/cat/world_sku.png)
    }
.cat-header--Lost {
    font-size: 0
    }
.cat-header--Lost::after {
    content: url(https://images.neopets.com/games/arcade/cat/world_lds.png)
    }
.cat-header--Terror {
    font-size: 0
    }
.cat-header--Terror::after {
    content: url(https://images.neopets.com/games/arcade/cat/world_trm.png)
    }
.cat-header--Moltara {
    font-size: 0
    }
.cat-header--Moltara::after {
    content: url(https://images.neopets.com/games/arcade/cat/world_mlt.png)
    }
.cat-header--Virtupets {
    font-size: 0
    }
.cat-header--Virtupets::after {
    content: url(https://images.neopets.com/games/arcade/cat/world_vss.png)
    }
.cat-header--Tyrannia {
    font-size: 0
    }
.cat-header--Tyrannia::after {
    content: url(https://images.neopets.com/games/arcade/cat/world_tyr.png)
    }
.cat-header--Maraqua {
    font-size: 0
    }
.cat-header--Maraqua::after {
    content: url(https://images.neopets.com/games/arcade/cat/world_mar.png)
    }
.cat-header--Meridell {
    font-size: 0
    }
.cat-header--Meridell::after {
    content: url(https://images.neopets.com/games/arcade/cat/world_mer.png);
    filter: hue-rotate(-50deg) saturate(85%)
    }
.cat-header--Altador {
    font-size: 0
    }
.cat-header--Altador::after {
    content: url(https://images.neopets.com/games/arcade/cat/world_alt.png)
    }