#userinfo, .user-info, #sb_clock, #sb_search, #sb_banner, #sb_lang {
    color: black
    }
#userinfo a, #sb_lang a, .user-info a {
    color: #009
    }
#sb_top, .sb_top {
    width: 731px;
    background-size: 731px 44px
    }
#sb_createpet, #sb_petcentral, #sb_explore, #sb_games, #sb_neomail, #sb_shops, #sb_boards, #sb_news, #sb_stuff, #sb_help, #sb_login, #sb_logout {
    background-size: 202%
    }
#sb_top, .sb_top {
    background-image: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/GC%20site%20themes/2004Top.png)
    }
#sb_createpet, #sb_petcentral, #sb_explore, #sb_games, #sb_neomail, #sb_shops, #sb_boards, #sb_news, #sb_stuff, #sb_help, #sb_login, #sb_logout {
    background-image: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/GC%20site%20themes/2004Nav.jpg);
    width: 130px
    }
#sb_nav {
	border-color: #000;
    border-width: 0 2px 0 0;
    border-style: solid;
	width: 130px !important;
	}
#sb_side {
    border-color: #000;
    border-width: 0 2px 2px 0;
    border-style: solid;
    border-radius: 0 0 10px 0;
    padding-bottom: 20px;
    width: 130px;
    background: #FECE00 !important
    }
#sb_edge {
    display: none
    }
#sb_side::after {
	display: none
	}
