#userinfo, .user-info, #sb_clock, #sb_search, #sb_banner, #sb_lang {
    color:  white;
}
#userinfo a, #sb_lang a, .user-info a {
    color: AliceBlue
}
.sb-custom-css {
    color: AliceBlue !important;
}
#sb_top, .sb_top {
    width: 731px;
    background-size: 731px 44px
    }
#sb_top, .sb_top {
    background-image: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/GC%20site%20themes/SBtopRed.png)
    }
#sb_createpet, #sb_petcentral, #sb_explore, #sb_games, #sb_neomail, #sb_shops, #sb_boards, #sb_news, #sb_stuff, #sb_help, #sb_login, #sb_logout {
    background-image: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/GC%20site%20themes/SBnavRed.png);
    }
#sb_side {
    border-color: #000;
    border-width: 0 2px 2px 0;
    border-style: solid;
    border-radius: 0 0 10px 0;
    padding-bottom: 20px;
    width: 130px;
    background: #ff0006 !important
    }
#sb_edge {
    display: none
    }
.nst {
    background-color: IndianRed;
    color: black;
    padding: 2px;
    margin: 0;
    border-radius: 1px
    }
#sb_side::after {
	display: none
	}
