#sb_top, .sb_top {
    background-image: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/GC%20site%20themes/RooIslandTop.png);
    background-size: 727px 44px
    }
#userinfo, .user-info {
    color: red
    }
#sb_lang {
    color: white
	}
#userinfo a, #sb_lang a, .user-info a {
    color: white
    }
.sb-custom-css {
	color: #9cdf73
	}
#sb_createpet, #sb_petcentral, #sb_explore, #sb_games, #sb_neomail, #sb_shops, #sb_boards, #sb_news, #sb_stuff, #sb_help, #sb_login, #sb_logout {
    background-image: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/GC%20site%20themes/CloverNav.png);
    width: 130px
    }
#sb_createpet:hover {
    background-position: 132px 0
    }
#sb_petcentral:hover {
    background-position: 132px -53px
    }
#sb_explore:hover {
    background-position: 132px -106px
    }
#sb_games:hover {
    background-position: 132px -138px
    }
#sb_neomail:hover {
    background-position: 132px -170px
    }
#sb_shops:hover {
    background-position: 132px -202px
    }
#sb_boards:hover {
    background-position: 132px -234px
    }
#sb_news:hover {
    background-position: 132px -266px
    }
#sb_stuff:hover {
    background-position: 132px -300px
    }
#sb_help:hover {
    background-position: 132px -334px
    }
#sb_login:hover {
    background-position: 132px -369px
    }
#sb_logout:hover {
    background-position: 132px -399px
    }
#sb_nav, #sb_side {
    background-image: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/GC%20site%20themes/RooIslandSide.png);
    background-position: top, bottom;
    background-repeat: no-repeat, no-repeat
    }
#sb_edge {
    display: none
    }
	
