#userinfo, .user-info, #sb_clock, #sb_search, #sb_banner, #sb_lang {
    color: MintCream
    }
#userinfo a, #sb_lang a, .user-info a {
    color: white
    }
#sb_top, .sb_top {
    background-image: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/GC%20site%20themes/SBtopTeal.png)
    }
#sb_top, .sb_top {
    width: 731px;
    background-size: 731px 44px
    }
#sb_createpet, #sb_petcentral, #sb_explore, #sb_games, #sb_neomail, #sb_shops, #sb_boards, #sb_news, #sb_stuff, #sb_help, #sb_login, #sb_logout {
    background-image: url(https://f005.backblazeb2.com/file/Brickshelf/bs01/gallery/clover/GC%20site%20themes/SBnavTeal.png);
    }
#sb_nav, #sb_side {
    background-color: #057d61
    }
#sb_side {
    background: #057d60 !important;
    border-color: #034434;
    border-width: 0 2px 2px 0;
    border-style: solid;
    border-radius: 0 0 10px 0;
    padding-bottom: 20px;
    width: 130px
    }
#sb_edge {
    display: none
    }
.nst {
    background-color: #69B1A0;
    color: MintCream;
    padding: 2px;
    margin: 0;
    border-radius: 1px
    }
	
